.Register {
    min-width: 100vw;
    min-height: 100vh;
    background: rgb(0, 8, 3);
    background: linear-gradient(
      157deg,
      rgba(0, 8, 3, 1) 0%,
      rgba(16, 36, 0, 1) 45%,
      rgba(37, 122, 79, 1) 100%
    );
  }
  @media screen and (min-width: 300px) {
    .Register {
      background-image: url("../../images/app-register-background.jpg");
      background-size: cover;
      background-position: center;
      
    }
  }
  